<!DOCTYPE html>
<html lang="ko">

<% include ./head %>

    <body>

        <header class="head-color">
            <div class="container">
                <div class="container-small">
                    <a href="/index" class="headA">Portfolio</a>

                    <button type="button" class="headC">
                        <span class="fa fa-bars" title="MENU"></span>
                    </button>
                </div>

                <nav class="headB">
                    <ul>
                        <li>
                            <a href="/index">TOP</a>
                        </li>
                        <li>
                            <a href="/list">콘텐츠</a>
                        </li>
                        <!--<li><a href="/about">ABOUT</a></li> -->
                        <li>
                            <a href="/contact">문의</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="">
                <a href="/index" class="headA">Portfolio</a>


            </div>
        </header>
        <section>
            <textarea rows="500" cols="2000" name="contents">

            </textarea>
        </section>



    </body>

</html>