<!DOCTYPE html>
<html lang="ko">

<% include ./head %>


        
<body>
    
    <div class = "cd_container">
        <div class="head-area">
            
        </div>
        <div class = "code-area" id="ca">
                
        </div>
        <div class="result-area" id="ra">
            Hello
        </div>

    </div>   
</body>

<script>

        $(document).keyup(function(event){
            //alert(event.which);
            $("#ca").append(String.fromCharCode(event.which))
        });
        $("#ca").click(function(){
            alert('click called');
        });
    
</script>

</html>