<!DOCTYPE html>
<html lang="ko">
<% include ./head.ejs %>
<body class="nohero">

<% include ./header.ejs %>


<article class="post">
<div class="container">

	<div class="bread">
		<ol>
			<li><a href="/index">HOME</a></li>
			<li><a href="/list">목록</a></li>
		</ol>
	</div>

	<h1><%= title%></h1>

	<%- content %>

</div>
</article>


<% include ./footer.ejs %>


</body>
</html>


