<!DOCTYPE html>
<html lang="ko">

<% include ./head.ejs %>

<body class="nohero">

<% include ./header.ejs %>

<article class="post">
<div class="container">

	<h1>문의</h1>

	<p>아래의 연락처로 문의해주세요.</p>

	<div class="contact-wrap">
		<div class="contact">
			<span class="fa fa-phone"></span>
			<h2>전화</h2>
			<a href="tel:01022409517">010-2240-9517</a>
		</div>

		<div class="contact">
			<span class="fa fa-envelope"></span>
			<h2>이메일</h2>
			<a href="mailto:rjch221@gmail.com">rjch221@gmail.com</a>
		</div>
	</div>

</div>
</article>

<% include ./footer.ejs %>

</body>
</html>


