<!DOCTYPE html>
<html lang="ko">

<% include ./head.ejs %>

<body>

<% include ./header.ejs %>

<section class="conA">
<div class="container">
	<!-- <img src="public/img/logo.svg" alt=""> -->
	<h1>PORTFOLIO</h1>
	<p>By JaeChan</p>
	<a href="#">Start online code-editor</a>
</div>
</section>


<section class="conB">
<div class="container">
	<div class="text">
		<span class="fa fa-list-alt icon"></span>
		<h2>PROJECTs</h2>
		<p>개발 프로젝트 목록</p>
		<a href="#">MORE... 
		<span class="fa fa-chevron-right"></span>
		</a>
	</div>

	<div class="text">
		<span class="fa fa-globe icon"></span>
		<h2>Web Service</h2>
		<p>온라인 코드에디터와 웹 채팅을 만나보세요!</p>
		<a href="#">MORE... 
		<span class="fa fa-chevron-right"></span>
		</a>
	</div>

	<div class="text">
		<span class="fa fa-edit icon"></span>
		<h2>블로그 포스팅</h2>
		<p>개발 기록 및 스터디 노트.</p>
		<a href="#">MORE... 
		<span class="fa fa-chevron-right"></span>
		</a>
	</div>
</div>
</section>



<section class="conC">
<div class="container">
	<div class="photo"></div>
	<div class="text">
		<h2>인공지능 스마트 스피커 RaMi</h2>
		<p>음성 명령을 통해 여러가지 서비스를 이용해 보세요.</p>
		<a href="#">자세히 보기
		<span class="fa fa-chevron-right"></span>
		</a>
	</div>
</div>
</section>


<section class="conD">
<div class="container">
	<div class="photo"></div>
	<div class="text">
		<h2>Code Editor</h2>
		<p>온라인에서 직접 코드를 작성하고 디버깅을 할 수 있습니다.</p>
		<a href="#">자세히 보기
		<span class="fa fa-chevron-right"></span>
		</a>
	</div>
</div>
</section>


<% include ./footer.ejs %>


</body>
</html>


