<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>샘플</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="public/style.css">
</head>
<body>

<section class="conA">
<div class="container">
	<img src="public/image/logo.svg" alt="">
	<h1>MY GAME</h1>
	<p>안녕하세요! 반가워용</p>
	<a href="/chat">시작하기</a>
</div>
</section>

</body>
</html>
