<!DOCTYPE html>
<html lang="ko">

<% include ./head %>

<body>

<% include ./header %>

<section class="conA compact">
<div class="container">
		<h1>PROJECTs</h1>
		<p>개발 프로젝트 목록</p>
</div>
</section>


<section class="listA">
<h1 class="sr-only">RECENT POSTS</h1>
<div class="container">
	<%- list %>
</div>
</section>


<% include ./footer %>


</body>
</html>


